# Welcome to an exploratory data analysis of the 2016 primary elections in the USA. 
### This is the first notebook out of the two of our data analysis

In this notebook we are going to prepare our given data for an exploratory data analysis. We will analyze the tables, deal with missing values by either deleting them or filling with the data found on the Internet, check for duplicates and treat outliers.

#### We start with importing the required libraries

In [1]:
import pandas as pd

#### Load the data

In [2]:
primary_results = pd.read_csv("data/primary_results.csv")
county_facts = pd.read_csv("data/county_facts.csv")
county_dictionary = pd.read_csv("data/county_facts_dictionary.csv")

### Analyse the tables

"primary_results":

In [3]:
primary_results.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [4]:
primary_results.shape

(24611, 8)

In [5]:
primary_results.columns

Index(['state', 'state_abbreviation', 'county', 'fips', 'party', 'candidate',
       'votes', 'fraction_votes'],
      dtype='object')

In [6]:
primary_results.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

"county_facts":

In [7]:
county_facts.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,Autauga County,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,Baldwin County,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,Barbour County,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

In [8]:
county_facts.shape

(3195, 54)

In [9]:
county_facts.columns

Index(['fips', 'area_name', 'state_abbreviation', 'PST045214', 'PST040210',
       'PST120214', 'POP010210', 'AGE135214', 'AGE295214', 'AGE775214',
       'SEX255214', 'RHI125214', 'RHI225214', 'RHI325214', 'RHI425214',
       'RHI525214', 'RHI625214', 'RHI725214', 'RHI825214', 'POP715213',
       'POP645213', 'POP815213', 'EDU635213', 'EDU685213', 'VET605213',
       'LFE305213', 'HSG010214', 'HSG445213', 'HSG096213', 'HSG495213',
       'HSD410213', 'HSD310213', 'INC910213', 'INC110213', 'PVY020213',
       'BZA010213', 'BZA110213', 'BZA115213', 'NES010213', 'SBO001207',
       'SBO315207', 'SBO115207', 'SBO215207', 'SBO515207', 'SBO415207',
       'SBO015207', 'MAN450207', 'WTN220207', 'RTN130207', 'RTN131207',
       'AFN120207', 'BPS030214', 'LND110210', 'POP060210'],
      dtype='object')

In [10]:
county_facts.dtypes

fips                    int64
area_name              object
state_abbreviation     object
PST045214               int64
PST040210               int64
PST120214             float64
POP010210               int64
AGE135214             float64
AGE295214             float64
AGE775214             float64
SEX255214             float64
RHI125214             float64
RHI225214             float64
RHI325214             float64
RHI425214             float64
RHI525214             float64
RHI625214             float64
RHI725214             float64
RHI825214             float64
POP715213             float64
POP645213             float64
POP815213             float64
EDU635213             float64
EDU685213             float64
VET605213               int64
LFE305213             float64
HSG010214               int64
HSG445213             float64
HSG096213             float64
HSG495213               int64
HSD410213               int64
HSD310213             float64
INC910213               int64
INC110213               int64
PVY020213             float64
BZA010213               int64
BZA110213               int64
BZA115213             float64
NES010213               int64
SBO001207               int64
SBO315207             float64
SBO115207             float64
SBO215207             float64
SBO515207             float64
SBO415207             float64
SBO015207             float64
MAN450207               int64
WTN220207               int64
RTN130207               int64
RTN131207               int64
AFN120207               int64
BPS030214               int64
LND110210             float64
POP060210             float64
dtype: object

In [11]:
county_dictionary.head()

  column_name                                        description
0   PST045214                          Population, 2014 estimate
1   PST040210          Population, 2010 (April 1) estimates base
2   PST120214  Population, percent change - April 1, 2010 to ...
3   POP010210                                   Population, 2010
4   AGE135214               Persons under 5 years, percent, 2014

In [12]:
county_dictionary.shape

(51, 2)

In [13]:
len(county_facts.columns) - 3 == len(county_dictionary)

True

From a quick glance at the tables, it seems that "county_facts" provides demographic details about counties, "county_dictionary" explains numeric abbreviations in "county_facts" and "primary_results" presents primary election outcomes for counties and parties.

#### Let's take a closer look at our tables and tidy up the data as needed.

Check "county_facts" table for null values

In [14]:
county_facts.columns[county_facts.isnull().any()]

Index(['state_abbreviation'], dtype='object')

In [15]:
print(len(county_facts["state_abbreviation"].unique()))
county_facts["state_abbreviation"].unique()

52

array([nan, 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL',
       'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
       'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM',
       'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

"state_abbreviation" column has abbreviations for all states, District of California and some nan values. Let's look into them

In [16]:
county_facts[county_facts["state_abbreviation"].isnull()]

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,NaN,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,NaN,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
69,2000,Alaska,NaN,736732,710249,3.7,710231,7.4,25.3,9.4,...,0.0,25.9,8204030,4563605,9303387,13635,1851293,1518,570640.95,1.2
99,4000,Arizona,NaN,6731484,6392310,5.3,6392017,6.4,24.1,15.9,...,10.7,28.1,57977827,57573459,86758801,13637,13268514,26997,113594.08,56.3
115,5000,Arkansas,NaN,2966369,2915958,1.7,2915918,6.5,23.8,15.7,...,2.3,24.5,60735582,29659789,32974282,11602,3559795,7666,52035.48,56.0
191,6000,California,NaN,38802500,37254503,4.2,37253956,6.5,23.6,12.9,...,16.5,30.3,491372092,598456486,455032270,12561,80852787,83645,155779.22,239.1
250,8000,Colorado,NaN,5355866,5029324,6.5,5029196,6.3,23.3,12.7,...,6.2,29.2,46331953,53598986,65896788,13609,11440395,28686,103641.89,48.5
315,9000,Connecticut,NaN,3596677,3574096,0.6,3574097,5.3,21.6,15.5,...,4.2,28.1,58404898,107917037,52165480,14953,9138437,5329,4842.36,738.1
324,10000,Delaware,NaN,935614,897936,4.2,897934,6.0,21.8,16.4,...,2.1,26.1,25679939,5727401,14202083,16421,1910770,5194,1948.54,460.8
328,11000,District Of Columbia,NaN,658893,601767,9.5,601723,6.5,17.5,11.3,...,6.1,34.5,332844,2117990,3843716,6555,4278171,4189,61.05,9856.5
330,12000,Florida,NaN,19893297,18804623,5.8,18801310,5.5,20.4,19.1,...,22.4,28.9,104832907,221641518,262341127,14353,41922059,84075,53624.76,350.6
398,13000,Georgia,NaN,10097343,9688681,4.2,9687653,6.6,24.7,12.4,...,3.6,30.9,144280774,141962359,117516907,12326,16976235,39423,57513.49,168.4
558,15000,Hawaii,NaN,1419561,1360301,4.4,1360301,6.4,21.7,16.1,...,3.6,31.0,8799266,8894672,17611851,13793,8042210,3066,6422.63,211.8
564,16000,Idaho,NaN,1634464,1567652,4.3,1567582,7.0,26.4,14.3,...,2.6,23.5,18010976,14286715,20526631,13691,2415951,8797,82643.12,19.0
609,17000,Illinois,NaN,12880580,12831587,0.4,12830632,6.1,23.2,13.9,...,5.0,30.5,257760713,231082768,165450520,12947,25469026,20579,55518.93,231.1
712,18000,Indiana,NaN,6596855,6484192,1.7,6483802,6.4,24.0,14.3,...,1.8,26.8,221877814,67634947,78745589,12408,11669759,17816,35826.11,181.0
805,19000,Iowa,NaN,3107126,3046869,2.0,3046355,6.3,23.4,15.8,...,0.9,25.5,97592051,41068338,39234649,13172,4737719,10256,55857.13,54.5
905,20000,Kansas,NaN,2904021,2853132,1.8,2853118,6.9,24.9,14.3,...,2.4,27.5,76751828,45863865,34538332,12444,4192347,7459,81758.72,34.9
1011,21000,Kentucky,NaN,4413457,4339349,1.7,4339367,6.3,22.9,14.8,...,1.1,25.6,119105421,74680759,50405925,11843,6300866,9536,39486.34,109.9
1132,22000,Louisiana,NaN,4649676,4533479,2.6,4533372,6.6,23.9,13.6,...,2.9,27.4,205054723,51415553,56543203,12921,9729869,15255,43203.90,104.9
1197,23000,Maine,NaN,1330089,1328361,0.1,1328361,4.9,19.5,18.3,...,0.7,25.6,16363192,8823719,20444031,15520,2515827,3242,30842.92,43.1
1214,24000,Maryland,NaN,5976407,5773785,3.5,5773552,6.2,22.6,13.8,...,4.9,32.6,41456097,51276797,75664186,13429,10758428,16331,9707.24,594.8
1239,25000,Massachusetts,NaN,6745408,6547817,3.0,6547629,5.4,20.6,15.1,...,3.3,29.8,86428959,95275672,88082966,13553,14917210,14486,7800.06,839.4
1254,26000,Michigan,NaN,9909877,9884133,0.3,9883640,5.8,22.4,15.4,...,1.3,30.4,234455768,107109349,109102594,10855,14536648,15933,56538.90,174.8
1338,27000,Minnesota,NaN,5457173,5303925,2.9,5303925,6.4,23.5,14.3,...,1.0,26.8,107563060,82878056,71384103,13751,10423660,16990,79626.74,66.6
1426,28000,Mississippi,NaN,2994079,2968103,0.9,2967297,6.5,24.4,14.3,...,0.8,26.9,59869456,23003585,33751407,11552,7045097,6871,46923.27,63.2
1509,29000,Missouri,NaN,6063589,5988923,1.2,5988927,6.2,23.0,15.4,...,1.2,26.1,110907604,81032913,76575216,12957,11070634,16003,68741.52,87.1
1625,30000,Montana,NaN,1023579,989417,3.5,989415,6.0,22.0,16.7,...,1.0,24.6,10638145,8202782,14686854,15343,2079426,3884,145545.80,6.8
1682,31000,Nebraska,NaN,1881503,1826341,3.0,1826341,6.9,24.8,14.4,...,1.9,25.7,40157999,24019868,26486612,14965,2685580,7605,76824.17,23.8
1776,32000,Nevada,NaN,2839099,2700692,5.1,2700551,6.2,23.4,14.2,...,8.1,28.6,15735787,19255893,37433983,14579,28815533,13016,109781.18,24.6
1794,33000,New Hampshire,NaN,1326813,1316466,0.8,1316470,4.9,20.1,15.9,...,1.0,25.8,18592406,14564458,25353874,19246,2630968,3403,8952.65,147.0
1805,34000,New Jersey,NaN,8938175,8791936,1.7,8791894,6.0,22.5,14.7,...,8.7,27.3,116608094,233413004,124813580,14453,19993613,28155,7354.22,1195.5
1827,35000,New Mexico,NaN,2085572,2059192,1.3,2059179,6.6,24.1,15.3,...,23.6,31.7,17122725,10589286,24469997,12429,3734300,4799,121298.15,17.0
1861,36000,New York,NaN,19746227,19378112,1.9,19378102,6.0,21.4,14.7,...,9.9,30.4,162720173,313461904,230718065,11879,39813499,36286,47126.40,411.2
1924,37000,North Carolina,NaN,9943964,9535691,4.3,9535483,6.1,23.0,14.7,...,2.7,28.2,205867299,88795885,114578173,12641,16126939,49911,48617.91,196.1
2025,38000,North Dakota,NaN,739482,672591,9.9,672591,6.9,22.8,14.2,...,0.5,24.8,11349799,13099348,10527300,16495,1214201,12178,69000.80,9.7
2079,39000,Ohio,NaN,11594163,11536725,0.5,11536504,6.0,22.8,15.5,...,1.1,27.7,295890890,135575279,138816008,12049,17779905,19872,40860.69,282.3
2168,40000,Oklahoma,NaN,3878051,3751616,3.4,3751351,6.8,24.6,14.5,...,2.3,25.3,60681358,48074682,43095353,11931,5106585,14179,68594.92,54.7
2246,41000,Oregon,NaN,3970239,3831073,3.6,3831074,5.8,21.6,16.0,...,3.3,29.8,66880653,51910777,50370919,13494,7555764,16645,95988.01,39.9
2283,42000,Pennsylvania,NaN,12787209,12702884,0.7,12702379,5.6,21.1,16.7,...,2.3,27.0,234840418,142859202,166842778,13323,19625449,25059,44742.70,283.9
2351,44000,Rhode Island,NaN,1055173,1052931,0.2,1052567,5.2,20.2,15.7,...,6.0,27.3,12061517,9182788,12286485,11646,2148674,952,1033.81,1018.1
2357,45000,South Carolina,NaN,4832482,4625401,4.5,4625364,6.0,22.4,15.8,...,1.7,27.6,93977455,40498047,54298410,12273,8383463,27537,30060.70,153.9
2404,46000,South Dakota,NaN,853175,814191,4.8,814180,7.1,24.7,15.3,...,0.8,22.2,13051128,11400476,12266218,15390,1622751,4722,75811.00,10.7
2471,47000,Tennessee,NaN,6549352,6346275,3.2,6346105,6.1,22.8,15.1,...,1.6,25.9,140447760,80116528,77547291,12563,10626759,27632,41234.90,153.9
2567,48000,Texas,NaN,26956958,25146104,7.2,25145561,7.3,26.4,11.5,...,20.7,28.2,593541502,424238194,311334781,13061,42054592,166982,261231.71,96.3
2822,49000,Utah,NaN,2942902,2763885,6.5,2763885,8.6,30.7,10.0,...,3.7,24.9,42431657,25417368,36574240,13730,3980570,17510,82169.62,33.6
2852,50000,Vermont,NaN,626562,625745,0.1,625741,4.9,19.4,16.9,...,0.6,26.0,10751461,5121694,9310119,15005,1367630,1546,9216.66,67.9
2867,51000,Virginia,NaN,8326289,8001023,4.1,8001024,6.2,22.4,13.8,...,4.5,30.1,92417797,60513396,105663299,13687,15340483,28682,39490.09,202.6
3002,53000,Washington,NaN,7061530,6724543,5.0,6724540,6.3,22.7,14.1,...,3.2,28.7,112053283,76790966,92968519,14380,12389422,33898,66455.52,101.2
3042,54000,West Virginia,NaN,1850326,1853033,-0.1,1852994,5.5,20.5,17.8,...,0.7,28.1,25080573,11036467,20538829,11340,2553258,2677,24038.21,77.1
3098,55000,Wisconsin,NaN,5757564,5687289,1.2,5686986,5.9,22.6,15.2,...,1.3,25.9,163563195,59996244,72283321,12904,9247311,14622,54157.80,105.0
3171,56000,Wyoming,NaN,584153,563767,3.6,563626,6.5,23.7,14.0,...,2.8,25.5,8834810,6352890,8957553,17114,1469008,1901,97093.14,5.8

Alright, we'll fill the null values in the columns containing state names with the next values in the dataset, which correspond to the county of each state.

In [17]:
county_facts.iloc[1:] = county_facts.iloc[1:].fillna(method="bfill")

# for United states, add "USA" abbreviation
county_facts.loc[0, "state_abbreviation"] = "USA"
county_facts[county_facts["fips"] % 1000 == 0]

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,United States,USA,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,Alabama,AL,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
69,2000,Alaska,AK,736732,710249,3.7,710231,7.4,25.3,9.4,...,0.0,25.9,8204030,4563605,9303387,13635,1851293,1518,570640.95,1.2
99,4000,Arizona,AZ,6731484,6392310,5.3,6392017,6.4,24.1,15.9,...,10.7,28.1,57977827,57573459,86758801,13637,13268514,26997,113594.08,56.3
115,5000,Arkansas,AR,2966369,2915958,1.7,2915918,6.5,23.8,15.7,...,2.3,24.5,60735582,29659789,32974282,11602,3559795,7666,52035.48,56.0
191,6000,California,CA,38802500,37254503,4.2,37253956,6.5,23.6,12.9,...,16.5,30.3,491372092,598456486,455032270,12561,80852787,83645,155779.22,239.1
250,8000,Colorado,CO,5355866,5029324,6.5,5029196,6.3,23.3,12.7,...,6.2,29.2,46331953,53598986,65896788,13609,11440395,28686,103641.89,48.5
315,9000,Connecticut,CT,3596677,3574096,0.6,3574097,5.3,21.6,15.5,...,4.2,28.1,58404898,107917037,52165480,14953,9138437,5329,4842.36,738.1
324,10000,Delaware,DE,935614,897936,4.2,897934,6.0,21.8,16.4,...,2.1,26.1,25679939,5727401,14202083,16421,1910770,5194,1948.54,460.8
328,11000,District Of Columbia,DC,658893,601767,9.5,601723,6.5,17.5,11.3,...,6.1,34.5,332844,2117990,3843716,6555,4278171,4189,61.05,9856.5
330,12000,Florida,FL,19893297,18804623,5.8,18801310,5.5,20.4,19.1,...,22.4,28.9,104832907,221641518,262341127,14353,41922059,84075,53624.76,350.6
398,13000,Georgia,GA,10097343,9688681,4.2,9687653,6.6,24.7,12.4,...,3.6,30.9,144280774,141962359,117516907,12326,16976235,39423,57513.49,168.4
558,15000,Hawaii,HI,1419561,1360301,4.4,1360301,6.4,21.7,16.1,...,3.6,31.0,8799266,8894672,17611851,13793,8042210,3066,6422.63,211.8
564,16000,Idaho,ID,1634464,1567652,4.3,1567582,7.0,26.4,14.3,...,2.6,23.5,18010976,14286715,20526631,13691,2415951,8797,82643.12,19.0
609,17000,Illinois,IL,12880580,12831587,0.4,12830632,6.1,23.2,13.9,...,5.0,30.5,257760713,231082768,165450520,12947,25469026,20579,55518.93,231.1
712,18000,Indiana,IN,6596855,6484192,1.7,6483802,6.4,24.0,14.3,...,1.8,26.8,221877814,67634947,78745589,12408,11669759,17816,35826.11,181.0
805,19000,Iowa,IA,3107126,3046869,2.0,3046355,6.3,23.4,15.8,...,0.9,25.5,97592051,41068338,39234649,13172,4737719,10256,55857.13,54.5
905,20000,Kansas,KS,2904021,2853132,1.8,2853118,6.9,24.9,14.3,...,2.4,27.5,76751828,45863865,34538332,12444,4192347,7459,81758.72,34.9
1011,21000,Kentucky,KY,4413457,4339349,1.7,4339367,6.3,22.9,14.8,...,1.1,25.6,119105421,74680759,50405925,11843,6300866,9536,39486.34,109.9
1132,22000,Louisiana,LA,4649676,4533479,2.6,4533372,6.6,23.9,13.6,...,2.9,27.4,205054723,51415553,56543203,12921,9729869,15255,43203.90,104.9
1197,23000,Maine,ME,1330089,1328361,0.1,1328361,4.9,19.5,18.3,...,0.7,25.6,16363192,8823719,20444031,15520,2515827,3242,30842.92,43.1
1214,24000,Maryland,MD,5976407,5773785,3.5,5773552,6.2,22.6,13.8,...,4.9,32.6,41456097,51276797,75664186,13429,10758428,16331,9707.24,594.8
1239,25000,Massachusetts,MA,6745408,6547817,3.0,6547629,5.4,20.6,15.1,...,3.3,29.8,86428959,95275672,88082966,13553,14917210,14486,7800.06,839.4
1254,26000,Michigan,MI,9909877,9884133,0.3,9883640,5.8,22.4,15.4,...,1.3,30.4,234455768,107109349,109102594,10855,14536648,15933,56538.90,174.8
1338,27000,Minnesota,MN,5457173,5303925,2.9,5303925,6.4,23.5,14.3,...,1.0,26.8,107563060,82878056,71384103,13751,10423660,16990,79626.74,66.6
1426,28000,Mississippi,MS,2994079,2968103,0.9,2967297,6.5,24.4,14.3,...,0.8,26.9,59869456,23003585,33751407,11552,7045097,6871,46923.27,63.2
1509,29000,Missouri,MO,6063589,5988923,1.2,5988927,6.2,23.0,15.4,...,1.2,26.1,110907604,81032913,76575216,12957,11070634,16003,68741.52,87.1
1625,30000,Montana,MT,1023579,989417,3.5,989415,6.0,22.0,16.7,...,1.0,24.6,10638145,8202782,14686854,15343,2079426,3884,145545.80,6.8
1682,31000,Nebraska,NE,1881503,1826341,3.0,1826341,6.9,24.8,14.4,...,1.9,25.7,40157999,24019868,26486612,14965,2685580,7605,76824.17,23.8
1776,32000,Nevada,NV,2839099,2700692,5.1,2700551,6.2,23.4,14.2,...,8.1,28.6,15735787,19255893,37433983,14579,28815533,13016,109781.18,24.6
1794,33000,New Hampshire,NH,1326813,1316466,0.8,1316470,4.9,20.1,15.9,...,1.0,25.8,18592406,14564458,25353874,19246,2630968,3403,8952.65,147.0
1805,34000,New Jersey,NJ,8938175,8791936,1.7,8791894,6.0,22.5,14.7,...,8.7,27.3,116608094,233413004,124813580,14453,19993613,28155,7354.22,1195.5
1827,35000,New Mexico,NM,2085572,2059192,1.3,2059179,6.6,24.1,15.3,...,23.6,31.7,17122725,10589286,24469997,12429,3734300,4799,121298.15,17.0
1861,36000,New York,NY,19746227,19378112,1.9,19378102,6.0,21.4,14.7,...,9.9,30.4,162720173,313461904,230718065,11879,39813499,36286,47126.40,411.2
1924,37000,North Carolina,NC,9943964,9535691,4.3,9535483,6.1,23.0,14.7,...,2.7,28.2,205867299,88795885,114578173,12641,16126939,49911,48617.91,196.1
2025,38000,North Dakota,ND,739482,672591,9.9,672591,6.9,22.8,14.2,...,0.5,24.8,11349799,13099348,10527300,16495,1214201,12178,69000.80,9.7
2079,39000,Ohio,OH,11594163,11536725,0.5,11536504,6.0,22.8,15.5,...,1.1,27.7,295890890,135575279,138816008,12049,17779905,19872,40860.69,282.3
2168,40000,Oklahoma,OK,3878051,3751616,3.4,3751351,6.8,24.6,14.5,...,2.3,25.3,60681358,48074682,43095353,11931,5106585,14179,68594.92,54.7
2246,41000,Oregon,OR,3970239,3831073,3.6,3831074,5.8,21.6,16.0,...,3.3,29.8,66880653,51910777,50370919,13494,7555764,16645,95988.01,39.9
2283,42000,Pennsylvania,PA,12787209,12702884,0.7,12702379,5.6,21.1,16.7,...,2.3,27.0,234840418,142859202,166842778,13323,19625449,25059,44742.70,283.9
2351,44000,Rhode Island,RI,1055173,1052931,0.2,1052567,5.2,20.2,15.7,...,6.0,27.3,12061517,9182788,12286485,11646,2148674,952,1033.81,1018.1
2357,45000,South Carolina,SC,4832482,4625401,4.5,4625364,6.0,22.4,15.8,...,1.7,27.6,93977455,40498047,54298410,12273,8383463,27537,30060.70,153.9
2404,46000,South Dakota,SD,853175,814191,4.8,814180,7.1,24.7,15.3,...,0.8,22.2,13051128,11400476,12266218,15390,1622751,4722,75811.00,10.7
2471,47000,Tennessee,TN,6549352,6346275,3.2,6346105,6.1,22.8,15.1,...,1.6,25.9,140447760,80116528,77547291,12563,10626759,27632,41234.90,153.9
2567,48000,Texas,TX,26956958,25146104,7.2,25145561,7.3,26.4,11.5,...,20.7,28.2,593541502,424238194,311334781,13061,42054592,166982,261231.71,96.3
2822,49000,Utah,UT,2942902,2763885,6.5,2763885,8.6,30.7,10.0,...,3.7,24.9,42431657,25417368,36574240,13730,3980570,17510,82169.62,33.6
2852,50000,Vermont,VT,626562,625745,0.1,625741,4.9,19.4,16.9,...,0.6,26.0,10751461,5121694,9310119,15005,1367630,1546,9216.66,67.9
2867,51000,Virginia,VA,8326289,8001023,4.1,8001024,6.2,22.4,13.8,...,4.5,30.1,92417797,60513396,105663299,13687,15340483,28682,39490.09,202.6
3002,53000,Washington,WA,7061530,6724543,5.0,6724540,6.3,22.7,14.1,...,3.2,28.7,112053283,76790966,92968519,14380,12389422,33898,66455.52,101.2
3042,54000,West Virginia,WV,1850326,1853033,-0.1,1852994,5.5,20.5,17.8,...,0.7,28.1,25080573,11036467,20538829,11340,2553258,2677,24038.21,77.1
3098,55000,Wisconsin,WI,5757564,5687289,1.2,5686986,5.9,22.6,15.2,...,1.3,25.9,163563195,59996244,72283321,12904,9247311,14622,54157.80,105.0
3171,56000,Wyoming,WY,584153,563767,3.6,563626,6.5,23.7,14.0,...,2.8,25.5,8834810,6352890,8957553,17114,1469008,1901,97093.14,5.8

In [18]:
county_facts.isnull().any().any()

False

#### Let's modify "area_name" column: 
* make values lowercase
* get rid of "county" word
* get rid of spaces

In [19]:
county_facts["area_name"] = (county_facts["area_name"]
                             .str.lower()
                             .str.replace("county", "")
                             .str.strip())
county_facts.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,united states,USA,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,alabama,AL,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,autauga,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,baldwin,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,barbour,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

#### Check for duplicates "area_name" and "state_abbreviation" columns:

In [20]:
county_facts[county_facts[["area_name", "state_abbreviation"]]
             .duplicated(keep=False)]

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
115,5000,arkansas,AR,2966369,2915958,1.7,2915918,6.5,23.8,15.7,...,2.3,24.5,60735582,29659789,32974282,11602,3559795,7666,52035.48,56.0
116,5001,arkansas,AR,18594,19018,-2.2,19019,6.8,23.0,17.5,...,0.0,29.4,1702196,134593,286337,14825,15452,18,988.77,19.2
328,11000,district of columbia,DC,658893,601767,9.5,601723,6.5,17.5,11.3,...,6.1,34.5,332844,2117990,3843716,6555,4278171,4189,61.05,9856.5
329,11001,district of columbia,DC,658893,601767,9.5,601723,6.5,17.5,11.3,...,6.1,34.5,332844,2117990,3843716,6555,4278171,4189,61.05,9856.6
558,15000,hawaii,HI,1419561,1360301,4.4,1360301,6.4,21.7,16.1,...,3.6,31.0,8799266,8894672,17611851,13793,8042210,3066,6422.63,211.8
559,15001,hawaii,HI,194190,185079,4.9,185079,6.2,22.0,17.5,...,3.9,26.4,290120,732242,2566012,14816,874735,958,4028.42,45.9
564,16000,idaho,ID,1634464,1567652,4.3,1567582,7.0,26.4,14.3,...,2.6,23.5,18010976,14286715,20526631,13691,2415951,8797,82643.12,19.0
589,16049,idaho,ID,16215,16267,-0.3,16267,5.2,20.0,24.0,...,0.0,23.5,0,64841,97645,6395,14650,1,8477.35,1.9
805,19000,iowa,IA,3107126,3046869,2.0,3046355,6.3,23.4,15.8,...,0.9,25.5,97592051,41068338,39234649,13172,4737719,10256,55857.13,54.5
853,19095,iowa,IA,16375,16355,0.1,16355,5.9,23.3,18.0,...,0.0,24.1,1478930,80218,213413,13512,25049,23,586.46,27.9
1861,36000,new york,NY,19746227,19378112,1.9,19378102,6.0,21.4,14.7,...,9.9,30.4,162720173,313461904,230718065,11879,39813499,36286,47126.40,411.2
1892,36061,new york,NY,1636268,1585873,3.2,1585873,5.2,14.7,14.4,...,10.5,30.6,8315093,108757422,38797518,23872,17182554,5380,22.83,69467.5
2168,40000,oklahoma,OK,3878051,3751616,3.4,3751351,6.8,24.6,14.5,...,2.3,25.3,60681358,48074682,43095353,11931,5106585,14179,68594.92,54.7
2223,40109,oklahoma,OK,766215,718627,6.6,718633,7.8,25.6,12.5,...,3.5,27.8,7039445,27232349,10759969,15382,1500945,5510,708.82,1013.8
2822,49000,utah,UT,2942902,2763885,6.5,2763885,8.6,30.7,10.0,...,3.7,24.9,42431657,25417368,36574240,13730,3980570,17510,82169.62,33.6
2847,49049,utah,UT,560974,516564,8.6,516564,10.2,34.9,7.2,...,3.5,24.2,0,2424955,5772180,11254,451687,5257,2003.45,257.8

 We have two rows about the District of Columbia. Let's drop one of them with the fips value 11000

In [21]:
county_facts = county_facts.drop(328)

"fips" column:

In [22]:
print(county_facts["fips"].is_unique)
county_facts["fips"].describe()

True

count     3194.000000
mean     30364.140263
std      15179.736218
min          0.000000
25%      18173.500000
50%      29176.000000
75%      45076.500000
max      56045.000000
Name: fips, dtype: float64

 "fips" column is unique; no outliers

In [23]:
county_facts.head()

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,united states,USA,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,alabama,AL,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,autauga,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,baldwin,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,barbour,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0

"primary_results" table:

In [24]:
primary_results.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

Check "party" and "candidate" columns for unique values:

In [25]:
print(primary_results["party"].unique())
primary_results["candidate"] = (primary_results["candidate"]
                                .str.lower()
                                .str.strip())
primary_results["candidate"].unique()

['Democrat' 'Republican']

array(['bernie sanders', 'hillary clinton', 'ben carson', 'donald trump',
       'john kasich', 'marco rubio', 'ted cruz', 'uncommitted',
       "martin o'malley", 'carly fiorina', 'chris christie', 'jeb bush',
       'mike huckabee', 'rand paul', 'rick santorum', 'no preference'],
      dtype=object)

In [26]:
# let's convert state names and county names to
# lowercase and get rid of spaces
primary_results[["state", "county"]] = (primary_results[["state", "county"]]
                                        .apply(lambda x:
                                               x.str.lower()
                                               .str.replace(" county", "")
                                               .str.strip()))

Check whether there is data for each party in each state:

In [27]:
state_parties = primary_results.groupby(["state"])["party"].unique()
state_parties[state_parties.apply(lambda row: len(row) != 2)]

state
colorado        [Democrat]
maine           [Democrat]
north dakota    [Democrat]
Name: party, dtype: object

In three states, we have missing primary results data for the Republican party.

I've located the Republican primary results for Colorado and Maine on the state level. You can access the Colorado results through this link: https://eu.usatoday.com/story/news/politics/2023/12/20/how-trump-performed-colorado-2020-2016-presidential-elections/71984234007/. For Maine, the results are available at this link: https://www.politico.com/2016-election/primary/results/map/president/m

In [28]:
# the Colorado results
colorado_results = pd.DataFrame({"state": "colorado",
                                 "state_abbreviation": "CO",
                                 "county": "colorado",
                                 "fips": 8000,
                                 "party": "Republican",
                                 "candidate": "ted cruz",
                                 "votes": 30,
                                 "fraction_votes": 1},
                                index=[0])

# the Maine results
candidates = pd.Series(["ted cruz", 'donald trump',
                        "john kasich", "marco rubio",
                        "ben carson", "rand paul"])
votes = pd.Series([8550, 6070, 2270, 1492, 132, 55])
fraction_votes = pd.Series([0.459, 0.326, 0.122, 0.08, 0.007, 0.003])
party = pd.Series(["Republican"]*6)

maine_results = pd.DataFrame({"state": "maine",
                              "state_abbreviation": "ME",
                              "county": "maine",
                              "fips": 23000,
                              "party": "Republican",
                              "candidate": candidates,
                              "votes": votes,
                              "fraction_votes": fraction_votes
                             }, index=range(0, 6))

# add both tables to the "primary_results" table:
primary_results = pd.concat([primary_results, maine_results, colorado_results])

Check whether we have primary results about all states:

In [29]:
print(primary_results["state_abbreviation"].unique())
print(len(primary_results["state_abbreviation"].unique()))
print(primary_results["state"].unique())
print(len(primary_results["state"].unique()))

['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL' 'IN'
 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MS' 'MO' 'MT' 'NE' 'NV' 'NH'
 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY']
49
['alabama' 'alaska' 'arizona' 'arkansas' 'california' 'colorado'
 'connecticut' 'delaware' 'florida' 'georgia' 'hawaii' 'idaho' 'illinois'
 'indiana' 'iowa' 'kansas' 'kentucky' 'louisiana' 'maine' 'maryland'
 'massachusetts' 'michigan' 'mississippi' 'missouri' 'montana' 'nebraska'
 'nevada' 'new hampshire' 'new jersey' 'new mexico' 'new york'
 'north carolina' 'north dakota' 'ohio' 'oklahoma' 'oregon' 'pennsylvania'
 'rhode island' 'south carolina' 'south dakota' 'tennessee' 'texas' 'utah'
 'vermont' 'virginia' 'washington' 'west virginia' 'wisconsin' 'wyoming']
49

#### We have missing information about Minnesota state and the District of Columbia

In the "county_facts" table, we have entries for Minnesota and Washington D.C. Therefore, it appears that only the voting results are missing for these entries.

I located the voting results on the Minnesota Secretary of State website. You can access them by visiting the link provided (https://electionresults.sos.mn.gov/20160301), selecting "Downloadable Text Results," and then opting for "Presidential Preference Results By Party Reporting Unit." I've saved these results in a file named "Minnesota_primary.txt."

Load the data about Minnesote votes

In [30]:
minn_results = pd.read_csv("data/Minnesota_primary.txt",
                           sep=";", header=None)
minn_results.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,MN,NaN,Aitkin County,101,U.S. President,NaN,301,DR. BEN CARSON,NaN,NaN,R,1,1,40,8.99,445
1,MN,NaN,Aitkin County,101,U.S. President,NaN,302,TED CRUZ,NaN,NaN,R,1,1,126,28.31,445
2,MN,NaN,Aitkin County,101,U.S. President,NaN,303,JOHN R. KASICH,NaN,NaN,R,1,1,12,2.70,445
3,MN,NaN,Aitkin County,101,U.S. President,NaN,304,MARCO RUBIO,NaN,NaN,R,1,1,94,21.12,445
4,MN,NaN,Aitkin County,101,U.S. President,NaN,305,DONALD J. TRUMP,NaN,NaN,R,1,1,173,38.88,445

Clean the table

In [31]:
# drop unneeded tables
minn_results = minn_results.drop(columns=[1, 3, 4, 5, 6, 8, 9, 11, 12, 15])

# modify column names
minn_results.rename(columns={0: "state_abbreviation",
                             2: "county",
                             7: "candidate",
                             10: "party",
                             13: "votes",
                             14: "fraction_votes"}, inplace=True)

# modify "candidate" and "county" columns
# to match names in the "primary_results" table
minn_results["candidate"] = minn_results["candidate"].str.lower().str.strip()


minn_results["county"] = (minn_results["county"]
                          .str.lower()
                          .str.replace("county", "")
                          .str.strip())

minn_results["state"] = "minnesota"

Modify "party" column:

In [32]:
minn_results["party"].unique()

array(['R', 'DFL'], dtype=object)

In [33]:
minn_results["party"] = minn_results["party"].replace(
    {"R": "Republican","DFL": "Democrat"}, regex=True)

In [34]:
minn_results.head()

,state_abbreviation,county,candidate,party,votes,fraction_votes,state
0,MN,aitkin,dr. ben carson,Republican,40,8.99,minnesota
1,MN,aitkin,ted cruz,Republican,126,28.31,minnesota
2,MN,aitkin,john r. kasich,Republican,12,2.70,minnesota
3,MN,aitkin,marco rubio,Republican,94,21.12,minnesota
4,MN,aitkin,donald j. trump,Republican,173,38.88,minnesota

Verify the names of candidates in both tables to ensure they correspond accurately.

In [35]:
print(primary_results["candidate"].unique())
print(minn_results["candidate"].unique())

['bernie sanders' 'hillary clinton' 'ben carson' 'donald trump'
 'john kasich' 'marco rubio' 'ted cruz' 'uncommitted' "martin o'malley"
 'carly fiorina' 'chris christie' 'jeb bush' 'mike huckabee' 'rand paul'
 'rick santorum' 'no preference']
['dr. ben carson' 'ted cruz' 'john r. kasich' 'marco rubio'
 'donald j. trump' 'write-in' 'hillary clinton'
 'rocque "rocky" de la fuente' "martin o'malley" 'bernie sanders'
 'uncommitted' 'other']

Rename some names:

In [36]:
names_to_rename = {"dr. ben carson": "ben carson",
                   "donald j. trump": "donald trump",
                   "john r. kasich": "john kasich",
                   "other": "no preference"}
minn_results["candidate"] = minn_results["candidate"].replace(names_to_rename,
                                                            regex=True)
minn_results.head()

,state_abbreviation,county,candidate,party,votes,fraction_votes,state
0,MN,aitkin,ben carson,Republican,40,8.99,minnesota
1,MN,aitkin,ted cruz,Republican,126,28.31,minnesota
2,MN,aitkin,john kasich,Republican,12,2.70,minnesota
3,MN,aitkin,marco rubio,Republican,94,21.12,minnesota
4,MN,aitkin,donald trump,Republican,173,38.88,minnesota

Add "fips" column:

In [37]:
# extract values from the county_facts table
minnesota_county = county_facts["state_abbreviation"] == "MN"
minn_fips = county_facts[minnesota_county][["area_name", "fips"]]


# merge both tables and get the result
minn_results = pd.merge(minn_results,
                        minn_fips,
                        left_on="county",
                        right_on="area_name",
                        how="inner")
minn_results.drop(columns=['area_name'], inplace=True)

# modify "fraction_votes" column by dividing values by 100
minn_results["fraction_votes"] = minn_results["fraction_votes"] / 100

Check for duplicates

In [38]:
minn_results[minn_results[["state", "county", "candidate"]].duplicated()]

Empty DataFrame
Columns: [state_abbreviation, county, candidate, party, votes, fraction_votes, state, fips]
Index: []

In [39]:
minn_results.head()

,state_abbreviation,county,candidate,party,votes,fraction_votes,state,fips
0,MN,aitkin,ben carson,Republican,40,0.0899,minnesota,27001
1,MN,aitkin,ted cruz,Republican,126,0.2831,minnesota,27001
2,MN,aitkin,john kasich,Republican,12,0.0270,minnesota,27001
3,MN,aitkin,marco rubio,Republican,94,0.2112,minnesota,27001
4,MN,aitkin,donald trump,Republican,173,0.3888,minnesota,27001

This is our prepared data about primaries in Minnesota. Let's add it to the "primary_results" table

In [40]:
primary_results = pd.concat([primary_results, minn_results])
minnesota_prim = primary_results["state_abbreviation"] == "MN"
primary_results[minnesota_prim]["county"].unique()

array(['aitkin', 'becker', 'beltrami', 'benton', 'big stone',
       'blue earth', 'brown', 'carlton', 'carver', 'cass', 'chippewa',
       'chisago', 'clay', 'clearwater', 'cook', 'cottonwood', 'crow wing',
       'dodge', 'douglas', 'faribault', 'fillmore', 'freeborn', 'goodhue',
       'grant', 'houston', 'hubbard', 'isanti', 'itasca', 'jackson',
       'kanabec', 'kandiyohi', 'kittson', 'koochiching', 'lac qui parle',
       'lake', 'lake of the woods', 'le sueur', 'lincoln', 'lyon',
       'mahnomen', 'marshall', 'martin', 'mcleod', 'meeker', 'morrison',
       'mower', 'murray', 'nicollet', 'nobles', 'norman', 'olmsted',
       'otter tail', 'pennington', 'pine', 'pipestone', 'polk', 'pope',
       'red lake', 'redwood', 'renville', 'rice', 'rock', 'roseau',
       'scott', 'sibley', 'st. louis', 'steele', 'stevens', 'swift',
       'todd', 'traverse', 'wabasha', 'wadena', 'waseca', 'watonwan',
       'wilkin', 'winona', 'wright', 'yellow medicine', 'mille lacs'],
      dtype=object)

#### Next, let's locate the primary election results for the District of Columbia.

I discovered the Presidential Primary and Caucus results for the District of Columbia on the politico.com website. You can access them by following this link: https://www.politico.com/2016-election/primary/results/map/president/district-of-columbia/. I'll convert this data into a dataframe.

In [41]:
candidates = pd.Series(["hillary clinton", "bernie sanders",
                        'rocque "rocky" de la fuente', "marco rubio",
                        "john kasich", 'donald trump',
                        "ted cruz", "jeb bush","rand paul",
                        "ben carson", "carly fiorina"])
votes = pd.Series([75223, 20137, 205, 1059, 1009, 391, 351,
                  14, 12, 3, 0])
fraction_votes = pd.Series([0.787, 0.211, 0.002, 
                            0.373, 0.355, 0.138, 0.124,
                            0.005, 0.004, 0.001, 0])
party = pd.Series(["Democrat"]*3 + ["Republican"]*8)

wash_results = pd.DataFrame({"state": "district of columbia",
                             "state_abbreviation": "DC",
                             "county": "district of columbia",
                             "fips" : 11001,
                             "party":party,
                             "candidate":candidates,
                             "votes":votes,
                             "fraction_votes": fraction_votes
                            }, index=range(0, 11))
wash_results

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,district of columbia,DC,district of columbia,11001,Democrat,hillary clinton,75223,0.787
1,district of columbia,DC,district of columbia,11001,Democrat,bernie sanders,20137,0.211
2,district of columbia,DC,district of columbia,11001,Democrat,"rocque ""rocky"" de la fuente",205,0.002
3,district of columbia,DC,district of columbia,11001,Republican,marco rubio,1059,0.373
4,district of columbia,DC,district of columbia,11001,Republican,john kasich,1009,0.355
5,district of columbia,DC,district of columbia,11001,Republican,donald trump,391,0.138
6,district of columbia,DC,district of columbia,11001,Republican,ted cruz,351,0.124
7,district of columbia,DC,district of columbia,11001,Republican,jeb bush,14,0.005
8,district of columbia,DC,district of columbia,11001,Republican,rand paul,12,0.004
9,district of columbia,DC,district of columbia,11001,Republican,ben carson,3,0.001
10,district of columbia,DC,district of columbia,11001,Republican,carly fiorina,0,0.000

Add the table to the "primary_results" table and check "state" column again

In [42]:
primary_results = pd.concat([primary_results, wash_results])
len(primary_results["state"].unique())

51

#### Check "state", "county", "candidate" columns for duplicates:

In [43]:
primary_results[primary_results[["state", "county", "candidate"]]
                .duplicated(keep=False)]

Empty DataFrame
Columns: [state, state_abbreviation, county, fips, party, candidate, votes, fraction_votes]
Index: []

### Missing values:

In [44]:
primary_results.isnull().any()

state                 False
state_abbreviation    False
county                False
fips                   True
party                 False
candidate             False
votes                 False
fraction_votes        False
dtype: bool

There is missing data in the "fips" column. Let's dig into it:

In [45]:
null_fips = primary_results[primary_results["fips"].isnull()]
print(null_fips["state"].unique())
print(null_fips["state_abbreviation"].unique())

['new hampshire']
['NH']

All the missing data is for counties of the New Hampshire state

Let's look at the "county_facts" table and find the fips data for counties in New Hampshire

In [46]:
county_facts[county_facts["state_abbreviation"]=="NH"]

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
1794,33000,new hampshire,NH,1326813,1316466,0.8,1316470,4.9,20.1,15.9,...,1.0,25.8,18592406,14564458,25353874,19246,2630968,3403,8952.65,147.0
1795,33001,belknap,NH,60305,60092,0.4,60088,4.7,19.5,19.9,...,0.0,23.7,687068,0,1348651,22099,151572,198,400.23,150.1
1796,33003,carroll,NH,47399,47820,-0.9,47818,3.8,16.8,24.5,...,0.4,19.6,213380,0,889015,18569,214906,197,931.06,51.4
1797,33005,cheshire,NH,76115,77117,-1.3,77117,4.7,18.6,17.3,...,0.6,22.6,1095187,0,1649001,21293,110289,141,706.66,109.1
1798,33007,coos,NH,31653,33052,-4.2,33055,4.2,17.7,21.8,...,0.0,0.0,295901,0,602906,18656,85674,56,1794.69,18.4
1799,33009,grafton,NH,89658,89114,0.6,89118,4.3,17.2,18.0,...,0.3,24.0,1314279,0,1961272,22919,272818,187,1708.75,52.2
1800,33011,hillsborough,NH,405184,400721,1.1,400721,5.4,21.7,13.9,...,2.0,26.3,7707601,3873122,7647259,18989,732310,968,876.14,457.4
1801,33013,merrimack,NH,147171,146442,0.5,146445,4.8,19.9,16.1,...,0.9,24.6,1539636,2812352,2605617,17536,223534,312,934.12,156.8
1802,33015,rockingham,NH,300621,295220,1.8,295223,4.6,20.6,15.2,...,0.9,27.8,3912579,5844817,6414862,21603,660746,875,694.72,425.0
1803,33017,strafford,NH,125604,123146,2.0,123143,5.0,19.5,13.8,...,0.8,26.8,1185999,351111,1672899,13701,146812,416,368.98,333.7
1804,33019,sullivan,NH,43103,43742,-1.5,43742,4.7,19.7,18.9,...,0.0,24.8,640776,0,562392,13154,32307,53,537.31,81.4

Since this table includes FIPS data about the counties, we can use it to fill in the missing data in the "primary_results" table from the "county_facts" table.

Extract "area_name", "state_abbreviation" and "fips" for New Hampshire

In [47]:
nh_facts = (county_facts[county_facts["state_abbreviation"]=="NH"]
            [["area_name", "state_abbreviation", "fips"]])
nh_facts

          area_name state_abbreviation   fips
1794  new hampshire                 NH  33000
1795        belknap                 NH  33001
1796        carroll                 NH  33003
1797       cheshire                 NH  33005
1798           coos                 NH  33007
1799        grafton                 NH  33009
1800   hillsborough                 NH  33011
1801      merrimack                 NH  33013
1802     rockingham                 NH  33015
1803      strafford                 NH  33017
1804       sullivan                 NH  33019

In [48]:
null_fips["county"].unique()

array(['belknap', 'carroll', 'cheshire', 'coos', 'grafton',
       'hillsborough', 'merrimack', 'rockingham', 'strafford', 'sullivan'],
      dtype=object)

We have data about 10 counties in both tables. Let's join them, to fill those null fips values

In [49]:
primary_results = pd.merge(primary_results, 
                     nh_facts, 
                     left_on=("county", "state_abbreviation"), 
                     right_on=("area_name", "state_abbreviation"), 
                     how="left")
# modify two resulting "fips_x" and "fips_y" table
primary_results["fips_x"].fillna(primary_results["fips_y"], inplace=True)

# drop "fips_y" and rename "fips_x"
primary_results = (primary_results.drop(columns=["fips_y", "area_name"])
                   .rename(columns={"fips_x":"fips"}))

In [50]:
primary_results[primary_results["state"]=="new hampshire"]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
14587,new hampshire,NH,belknap,33001.0,Democrat,bernie sanders,5990,0.631857
14588,new hampshire,NH,belknap,33001.0,Democrat,hillary clinton,3490,0.368143
14589,new hampshire,NH,carroll,33003.0,Democrat,bernie sanders,5655,0.636466
14590,new hampshire,NH,carroll,33003.0,Democrat,hillary clinton,3230,0.363534
14591,new hampshire,NH,cheshire,33005.0,Democrat,bernie sanders,12471,0.707093
...,...,...,...,...,...,...,...,...
14682,new hampshire,NH,sullivan,33019.0,Republican,donald trump,3080,0.380952
14683,new hampshire,NH,sullivan,33019.0,Republican,jeb bush,824,0.101917
14684,new hampshire,NH,sullivan,33019.0,Republican,john kasich,1334,0.164997
14685,new hampshire,NH,sullivan,33019.0,Republican,marco rubio,895,0.110699
14686,new hampshire,NH,sullivan,33019.0,Republican,ted cruz,951,0.117625

In [51]:
primary_results.isnull().any()

state                 False
state_abbreviation    False
county                False
fips                  False
party                 False
candidate             False
votes                 False
fraction_votes        False
dtype: bool

#### Let's check "fips" for duplicates and outliers

In [52]:
primary_results[["county", "fips", "candidate"]].duplicated().any()

False

In [53]:
primary_results["fips"].describe()

count    2.551100e+04
mean     2.562711e+07
std      4.150154e+07
min      1.001000e+03
25%      2.117000e+04
50%      4.012100e+04
75%      9.090008e+07
max      9.560004e+07
Name: fips, dtype: float64

We have some huge values for the "fips" column. Let's look into them

In [54]:
outlier_fips = primary_results[(primary_results["fips"]>600000)]
outlier_fips

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
469,alaska,AK,state house district 1,90200101.0,Democrat,bernie sanders,9,0.750
470,alaska,AK,state house district 1,90200101.0,Democrat,hillary clinton,3,0.250
471,alaska,AK,state house district 10,90200110.0,Democrat,bernie sanders,8,0.800
472,alaska,AK,state house district 10,90200110.0,Democrat,hillary clinton,2,0.200
473,alaska,AK,state house district 11,90200111.0,Democrat,bernie sanders,9,0.818
...,...,...,...,...,...,...,...,...
24606,wyoming,WY,teton-sublette,95600028.0,Republican,ted cruz,0,0.000
24607,wyoming,WY,uinta-lincoln,95600027.0,Republican,donald trump,0,0.000
24608,wyoming,WY,uinta-lincoln,95600027.0,Republican,john kasich,0,0.000
24609,wyoming,WY,uinta-lincoln,95600027.0,Republican,marco rubio,0,0.000
24610,wyoming,WY,uinta-lincoln,95600027.0,Republican,ted cruz,53,1.000

It seems that some counties have "district" in their names, indicating that there might be states where primary results are organized by congressional districts rather than counties.

In [55]:
districts = primary_results[primary_results["county"]
                                    .str.contains("district")]
print(districts["state"].unique())
districts.head()

['alaska' 'kansas' 'north dakota' 'district of columbia']

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
469,alaska,AK,state house district 1,90200101.0,Democrat,bernie sanders,9,0.750
470,alaska,AK,state house district 1,90200101.0,Democrat,hillary clinton,3,0.250
471,alaska,AK,state house district 10,90200110.0,Democrat,bernie sanders,8,0.800
472,alaska,AK,state house district 10,90200110.0,Democrat,hillary clinton,2,0.200
473,alaska,AK,state house district 11,90200111.0,Democrat,bernie sanders,9,0.818

Three states have primary results not by counties, but by districts. Those districts don't have fips code. Let's look more carefully at the assigned codes

In [56]:
alaska = (districts[districts["state"]=="alaska"]
              [["county", "fips"]].drop_duplicates()).reset_index(drop=True)
kansas = (districts[districts["state"]=="kansas"]
              [["county", "fips"]].drop_duplicates()).reset_index(drop=True)
north_dakota = (districts[districts["state"]=="north dakota"]
              [["county", "fips"]].drop_duplicates()).reset_index(drop=True)

In [57]:
pd.concat([alaska, kansas, north_dakota], axis=1, 
          keys=["Alaska", "Kansas", "North Dakota"]).head()

                    Alaska                                Kansas              \
                    county        fips                    county        fips
0   state house district 1  90200101.0  congressional district 1  92000106.0
1  state house district 10  90200110.0  congressional district 2  92000107.0
2  state house district 11  90200111.0  congressional district 3  92000108.0
3  state house district 12  90200112.0  congressional district 4  92000109.0
4  state house district 13  90200113.0                       NaN         NaN

  North Dakota
        county        fips
0   district 1  93800101.0
1  district 10  93800110.0
2  district 11  93800111.0
3  district 12  93800112.0
4  district 13  93800113.0

As we won't be using the data for each district separately, let's aggregate the results for these states to the state level and drop these congressional districts results.

Define a function which calculates the "fraction_votes" for each candidate in a party

In [58]:
def calc_fraction_votes(party_df: pd.DataFrame) -> pd.Series:
    """
    Function, which takes the voting results of one party in 
    some area and calculates fraction of votes for each candidate
    Parameters:
        - party_df(DataFrame): the table with the voting results
        for some party in some area
    Return: fraction_votes(Series): Series of fraction of votes
    values for each candidate
    """
    sum_votes = party_df["votes"].sum()
    fraction_votes = (party_df.apply(lambda candidate:
                                      candidate["votes"]/sum_votes, 
                                      axis=1))
    return fraction_votes

Define function which takes the name of the state, parties paramater which is a list of our parties(we need it as there are states which have results only for one party) and agreggates the results to the state level

In [59]:
def aggregate_state(state_name:str, *parties:str) -> pd.DataFrame:
    """
    Function which takes the name of the state and list of parties
    for which to aggregate the election results by state level.
    For the specified parties, take the state name and aggregate primary
    results from the county level to the state level by summing the votes for
    each candidate in each county and calculating fraction of votes for a 
    candidate in a state.
    Parameters:
        - state_name(str): name of the state
        - parties(str): names of parties. If no parties are specified,
        perform the aggregation on both parties
    Return: state_res(DataFrame): new table with the voting result 
    for the whole state
    """
    if not parties:
        parties = ["Democrat", "Republican"]
    
    # extract the result of the state
    state_party = ((primary_results["state"] == state_name)
                   & (primary_results["party"].isin(parties)))
    state_res = primary_results[state_party]
    
    # get the state's FIPS code
    state = ((county_facts["area_name"]==state_name) 
             & (county_facts["fips"] % 1000 == 0))
    state_fips = county_facts.loc[state, "fips"].iloc[0]
    
    # aggregate the results
    state_res = (state_res
                 .groupby(["state", "state_abbreviation",
                           "party", "candidate"])["votes"]
                 .sum().reset_index())
    
    # add 'fips' and 'county' columns
    state_res["fips"] = state_fips
    state_res["county"] = state_name
    
    # add 'fraction_votes' columns
    if len(state_res["party"].unique()) > 1:
        fraction_votes = state_res.groupby("party").apply(calc_fraction_votes)
    else:
        fraction_votes = calc_fraction_votes(state_res)
    fraction_votes = fraction_votes.reset_index(0, drop=True)

    state_res["fraction_votes"] = fraction_votes
    return state_res

Apply the function for these 3 states and add the results to the "primary_results" table

In [60]:
kansas_res = aggregate_state("kansas")
alaska_res = aggregate_state("alaska")
north_dakota_res = aggregate_state("north dakota")

district_states = (primary_results["state"]
                   .isin(["alaska", "kansas", "north dakota"]))

# drop results for these states
primary_results = primary_results[~district_states]

# add state level results
primary_results = pd.concat([primary_results, 
                             kansas_res,
                             alaska_res, 
                             north_dakota_res])

#### Let's look at other fips outliers

In [61]:
distric_prim = outlier_fips["county"].str.contains("district")
outlier_fips[~distric_prim]["state"].unique()

array(['connecticut', 'illinois', 'maine', 'massachusetts',
       'rhode island', 'vermont', 'wyoming'], dtype=object)

State Illionis:

In [62]:
ill_prim = primary_results[primary_results["state"]=="illinois"]

ill_counties_facts = ((county_facts["state_abbreviation"] == "IL") 
             & (county_facts["fips"] % 1000 != 0))
ill_facts = county_facts[ill_counties_facts]

print("ILLIONIS COUNTIES IN THE PRIMARY_RESULTS TABLE: ")
print(ill_prim["county"].unique())
print("----------------------------------------------")
print("ILLIINOIS COUNTIES IN THE COUNTY_FACTS TABLE:")
print(ill_facts["area_name"].unique())

ILLIONIS COUNTIES IN THE PRIMARY_RESULTS TABLE:
['adams' 'alexander' 'bond' 'boone' 'brown' 'bureau' 'calhoun' 'carroll'
 'cass' 'champaign' 'chicago' 'christian' 'clark' 'clay' 'clinton' 'coles'
 'cook suburbs' 'crawford' 'cumberland' 'dekalb' 'dewitt' 'douglas'
 'dupage' 'edgar' 'edwards' 'effingham' 'fayette' 'ford' 'franklin'
 'fulton' 'gallatin' 'greene' 'grundy' 'hamilton' 'hancock' 'hardin'
 'henderson' 'henry' 'iroquois' 'jackson' 'jasper' 'jefferson' 'jersey'
 'jodaviess' 'johnson' 'kane' 'kankakee' 'kendall' 'knox' 'lasalle' 'lake'
 'lawrence' 'lee' 'livingston' 'logan' 'macon' 'macoupin' 'madison'
 'marion' 'marshall' 'mason' 'massac' 'mcdonough' 'mchenry' 'mclean'
 'menard' 'mercer' 'monroe' 'montgomery' 'morgan' 'moultrie' 'ogle'
 'peoria' 'perry' 'piatt' 'pike' 'pope' 'pulaski' 'putnam' 'randolph'
 'richland' 'rock island' 'saline' 'sangamon' 'schuyler' 'scott' 'shelby'
 'st. clair' 'stark' 'stephenson' 'tazewell' 'union' 'vermilion' 'wabash'
 'warren' 'washington' 'wayne' 'white' 'whiteside' 'will' 'williamson'
 'winnebago' 'woodford']
----------------------------------------------
ILLIINOIS COUNTIES IN THE COUNTY_FACTS TABLE:
['adams' 'alexander' 'bond' 'boone' 'brown' 'bureau' 'calhoun' 'carroll'
 'cass' 'champaign' 'christian' 'clark' 'clay' 'clinton' 'coles' 'cook'
 'crawford' 'cumberland' 'dekalb' 'de witt' 'douglas' 'dupage' 'edgar'
 'edwards' 'effingham' 'fayette' 'ford' 'franklin' 'fulton' 'gallatin'
 'greene' 'grundy' 'hamilton' 'hancock' 'hardin' 'henderson' 'henry'
 'iroquois' 'jackson' 'jasper' 'jefferson' 'jersey' 'jo daviess' 'johnson'
 'kane' 'kankakee' 'kendall' 'knox' 'lake' 'lasalle' 'lawrence' 'lee'
 'livingston' 'logan' 'mcdonough' 'mchenry' 'mclean' 'macon' 'macoupin'
 'madison' 'marion' 'marshall' 'mason' 'massac' 'menard' 'mercer' 'monroe'
 'montgomery' 'morgan' 'moultrie' 'ogle' 'peoria' 'perry' 'piatt' 'pike'
 'pope' 'pulaski' 'putnam' 'randolph' 'richland' 'rock island' 'st. clair'
 'saline' 'sangamon' 'schuyler' 'scott' 'shelby' 'stark' 'stephenson'
 'tazewell' 'union' 'vermilion' 'wabash' 'warren' 'washington' 'wayne'
 'white' 'whiteside' 'will' 'williamson' 'winnebago' 'woodford']

Extract counties which are not present in the "county_facts" table

In [63]:
not_in_facts_table = ~ill_prim["county"].isin(ill_facts["area_name"])
ill_prim[not_in_facts_table]["county"].unique()

array(['chicago', 'cook suburbs', 'dewitt', 'jodaviess'], dtype=object)

In county_facts table DeWitt and Jo-Daviess counties are written differently. Let's rename it

In [64]:
county_facts.loc[
    county_facts["area_name"] == "de witt", 
    "area_name"] = "dewitt"
county_facts.loc[
    county_facts["area_name"] == "jo daviess", 
    "area_name"]  = "jodaviess"

In [65]:
ill_facts.loc[ill_facts["area_name"] == "cook"]

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
625,17031,cook,IL,5246456,5195060,1.0,5194675,6.5,22.6,12.9,...,7.2,32.3,77932858,83964561,60585557,11571,13094372,7753,945.33,5495.1

Chicago and Cook Suburbs are two parts of the Cook county. We can aggreate their primary results to the county level

In [66]:
chic_suburbs_res = ill_prim["county"].isin(["chicago", "cook suburbs"])
chic_suburbs = ill_prim[chic_suburbs_res]
chic_suburbs

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
4450,illinois,IL,chicago,91700103.0,Democrat,bernie sanders,311225,0.454
4451,illinois,IL,chicago,91700103.0,Democrat,hillary clinton,366954,0.536
4462,illinois,IL,cook suburbs,91700104.0,Democrat,bernie sanders,212428,0.457
4463,illinois,IL,cook suburbs,91700104.0,Democrat,hillary clinton,249217,0.536
4676,illinois,IL,chicago,91700103.0,Republican,donald trump,32858,0.387
4677,illinois,IL,chicago,91700103.0,Republican,john kasich,21654,0.255
4678,illinois,IL,chicago,91700103.0,Republican,marco rubio,10466,0.123
4679,illinois,IL,chicago,91700103.0,Republican,ted cruz,17737,0.209
4700,illinois,IL,cook suburbs,91700104.0,Republican,donald trump,91520,0.415
4701,illinois,IL,cook suburbs,91700104.0,Republican,john kasich,53481,0.242
4702,illinois,IL,cook suburbs,91700104.0,Republican,marco rubio,21000,0.095
4703,illinois,IL,cook suburbs,91700104.0,Republican,ted cruz,50667,0.230

In [67]:
# sum votes for each candidate
cook_prim = (chic_suburbs
             .groupby(["party", "candidate"])["votes"]
             .sum().reset_index())

# add "state", "state_abbreviation", "fips" and "county" columns
cook_prim[["state", "state_abbreviation"]] = (chic_suburbs[
    ["state", "state_abbreviation"]
].iloc[0])
cook_prim["county"] = "cook"
cook_prim["fips"] = 17031

# add "fraction_votes columns"
fraction_votes = cook_prim.groupby("party").apply(calc_fraction_votes)
fraction_votes = fraction_votes.reset_index(level=(0,1), drop=True)
cook_prim["fraction_votes"] = fraction_votes
cook_prim

,party,candidate,votes,state,state_abbreviation,county,fips,fraction_votes
0,Democrat,bernie sanders,523653,illinois,IL,cook,17031,0.459416
1,Democrat,hillary clinton,616171,illinois,IL,cook,17031,0.540584
2,Republican,donald trump,124378,illinois,IL,cook,17031,0.415448
3,Republican,john kasich,75135,illinois,IL,cook,17031,0.250966
4,Republican,marco rubio,31466,illinois,IL,cook,17031,0.105103
5,Republican,ted cruz,68404,illinois,IL,cook,17031,0.228483

Drop the primary results for Cook Suburbs and Chicago and add the results for Cook county

In [68]:
ill_chic_suburbs = ~((primary_results["state"]=="illinois") & 
                     (primary_results["county"]
                      .isin(["cook suburbs", "chicago"])))
primary_results = primary_results.loc[ill_chic_suburbs, :]
primary_results = pd.concat([primary_results, cook_prim])

In [69]:
len(county_facts[ill_counties_facts]["area_name"].unique())

102

In [70]:
len(primary_results[
    primary_results["state_abbreviation"]=="IL"]["county"].unique())

102

#### Connecticut state:

In [71]:
print("Information in the 'county_facts' table")
county_facts[county_facts["state_abbreviation"]=="CT"]

Information in the 'county_facts' table

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
315,9000,connecticut,CT,3596677,3574096,0.6,3574097,5.3,21.6,15.5,...,4.2,28.1,58404898,107917037,52165480,14953,9138437,5329,4842.36,738.1
316,9001,fairfield,CT,945438,916828,3.1,916829,5.7,23.6,14.4,...,5.9,28.6,20028377,78881637,15702222,17661,1861946,1889,624.89,1467.2
317,9003,hartford,CT,897985,894029,0.4,894014,5.4,21.7,15.6,...,4.1,25.9,15016177,15631406,13820736,15811,1637963,962,735.10,1216.2
318,9005,litchfield,CT,184993,189927,-2.6,189927,4.2,19.4,18.4,...,1.1,28.5,0,0,2458157,13043,245161,145,920.56,206.3
319,9007,middlesex,CT,164943,165676,-0.4,165676,4.5,19.4,17.7,...,1.5,28.0,3336020,953882,2129195,12980,293408,228,369.30,448.6
320,9009,new haven,CT,861277,862474,-0.1,862477,5.3,21.1,15.6,...,4.4,28.2,10493031,9890749,11785336,13970,1345875,1140,604.51,1426.7
321,9011,new london,CT,273676,274046,-0.1,274055,5.1,20.3,16.0,...,2.6,28.2,0,0,3882978,14682,3444661,646,664.88,412.2
322,9013,tolland,CT,151367,152682,-0.9,152691,4.0,18.5,14.0,...,1.8,32.5,1021759,214311,1206302,8140,173091,203,410.21,372.2
323,9015,windham,CT,116998,118434,-1.2,118428,5.2,20.7,14.7,...,0.0,24.4,1776526,546686,1180554,10120,136332,116,512.91,230.9

In [72]:
print("Information in the 'primary_results' table")
primary_results[primary_results["state"]=="connecticut"]

Information in the 'primary_results' table

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1767,connecticut,CT,andover,90900001.0,Democrat,bernie sanders,259,0.620
1768,connecticut,CT,andover,90900001.0,Democrat,hillary clinton,145,0.347
1769,connecticut,CT,ansonia,90900002.0,Democrat,bernie sanders,610,0.498
1770,connecticut,CT,ansonia,90900002.0,Democrat,hillary clinton,582,0.475
1771,connecticut,CT,ashford,90900003.0,Democrat,bernie sanders,377,0.630
...,...,...,...,...,...,...,...,...
2607,connecticut,CT,woodbury,90900168.0,Republican,john kasich,397,0.278
2608,connecticut,CT,woodbury,90900168.0,Republican,ted cruz,172,0.121
2609,connecticut,CT,woodstock,90900169.0,Republican,donald trump,457,0.551
2610,connecticut,CT,woodstock,90900169.0,Republican,john kasich,230,0.277
2611,connecticut,CT,woodstock,90900169.0,Republican,ted cruz,130,0.157

#### Maine state:

In [73]:
print("Information in the 'primary_results' table")
primary_results[(primary_results["state"]=="maine")]

Information in the 'primary_results' table

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8121,maine,ME,abbot,92300001.0,Democrat,bernie sanders,1,1.000
8122,maine,ME,abbot,92300001.0,Democrat,hillary clinton,0,0.000
8123,maine,ME,acton,92300002.0,Democrat,bernie sanders,3,0.600
8124,maine,ME,acton,92300002.0,Democrat,hillary clinton,2,0.400
8125,maine,ME,addison,92300003.0,Democrat,bernie sanders,1,0.500
...,...,...,...,...,...,...,...,...
24612,maine,ME,maine,23000.0,Republican,donald trump,6070,0.326
24613,maine,ME,maine,23000.0,Republican,john kasich,2270,0.122
24614,maine,ME,maine,23000.0,Republican,marco rubio,1492,0.080
24615,maine,ME,maine,23000.0,Republican,ben carson,132,0.007
24616,maine,ME,maine,23000.0,Republican,rand paul,55,0.003

In [74]:
print("Information in the 'county_facts' table")
county_facts[county_facts["state_abbreviation"] == "ME"]

Information in the 'county_facts' table

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
1197,23000,maine,ME,1330089,1328361,0.1,1328361,4.9,19.5,18.3,...,0.7,25.6,16363192,8823719,20444031,15520,2515827,3242,30842.92,43.1
1198,23001,androscoggin,ME,107440,107702,-0.2,107702,6.1,22.0,16.0,...,0.0,22.0,2186156,444572,1704277,15973,149702,91,467.93,230.2
1199,23003,aroostook,ME,69447,71871,-3.4,71870,4.7,18.7,21.3,...,0.0,23.3,621636,230832,1105943,15350,71782,66,6671.33,10.8
1200,23005,cumberland,ME,287797,281673,2.2,281674,4.9,19.6,16.4,...,0.6,29.0,0,3427913,5277196,19119,734947,906,835.24,337.2
1201,23007,franklin,ME,30296,30768,-1.5,30768,4.6,18.7,19.2,...,0.0,26.7,823516,0,381289,12807,43024,58,1696.61,18.1
1202,23009,hancock,ME,54696,54420,0.5,54418,4.3,17.4,21.5,...,0.0,24.1,599099,256613,819990,15363,167455,183,1586.89,34.3
1203,23011,kennebec,ME,121112,122151,-0.9,122151,5.0,19.9,17.7,...,0.9,26.0,584124,1195617,2382310,19729,198512,344,867.52,140.8
1204,23013,knox,ME,39676,39736,-0.2,39736,4.5,18.4,22.4,...,0.0,18.6,386986,177977,640156,15659,90110,101,365.13,108.8
1205,23015,lincoln,ME,34170,34457,-0.8,34457,4.1,17.6,25.3,...,0.8,22.4,122607,65761,433225,12412,72027,56,455.82,75.6
1206,23017,oxford,ME,57238,57831,-1.0,57833,4.5,19.6,19.3,...,0.0,21.6,865837,188252,489480,8647,92619,164,2076.84,27.8
1207,23019,penobscot,ME,153414,153920,-0.3,153923,4.8,18.7,16.5,...,0.9,24.0,1088511,0,2983923,20080,224163,231,3397.36,45.3
1208,23021,piscataquis,ME,17026,17535,-2.9,17535,4.2,17.7,23.6,...,0.0,23.0,119373,0,196521,11440,13589,20,3960.86,4.4
1209,23023,sagadahoc,ME,35045,35293,-0.7,35293,4.7,19.5,19.5,...,0.0,24.8,0,113895,415540,11359,51500,97,253.70,139.1
1210,23025,somerset,ME,51163,52228,-2.0,52228,4.7,19.8,18.9,...,0.0,20.0,1566889,76669,577288,11211,44981,37,3924.40,13.3
1211,23027,waldo,ME,39051,38786,0.7,38786,5.0,19.7,19.7,...,0.0,29.7,210346,522257,340345,8857,37580,76,729.92,53.1
1212,23029,washington,ME,31808,32856,-3.2,32856,4.9,18.9,22.0,...,0.6,21.5,444105,79089,405170,12360,24740,41,2562.66,12.8
1213,23031,york,ME,200710,197134,1.8,197131,4.8,19.9,18.0,...,0.5,27.0,2904345,704167,2291378,11389,499096,693,990.71,199.0

#### Massachesetts state:

In [75]:
print("Information in the 'primary_results' table")
primary_results[(primary_results["state"]=="massachusetts")]

Information in the 'primary_results' table

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
9235,massachusetts,MA,abington,92500001.0,Democrat,no preference,30,0.012
9236,massachusetts,MA,abington,92500001.0,Democrat,bernie sanders,1352,0.534
9237,massachusetts,MA,abington,92500001.0,Democrat,hillary clinton,1129,0.446
9238,massachusetts,MA,acton,92500002.0,Democrat,no preference,13,0.002
9239,massachusetts,MA,acton,92500002.0,Democrat,bernie sanders,2557,0.468
...,...,...,...,...,...,...,...,...
12038,massachusetts,MA,yarmouth,92500351.0,Republican,ben carson,111,0.030
12039,massachusetts,MA,yarmouth,92500351.0,Republican,donald trump,1980,0.526
12040,massachusetts,MA,yarmouth,92500351.0,Republican,john kasich,623,0.166
12041,massachusetts,MA,yarmouth,92500351.0,Republican,marco rubio,562,0.149
12042,massachusetts,MA,yarmouth,92500351.0,Republican,ted cruz,372,0.099

In [76]:
print("Information in the 'county_facts' table")
county_facts[county_facts["state_abbreviation"] == "MA"]

Information in the 'county_facts' table

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
1239,25000,massachusetts,MA,6745408,6547817,3.0,6547629,5.4,20.6,15.1,...,3.3,29.8,86428959,95275672,88082966,13553,14917210,14486,7800.06,839.4
1240,25001,barnstable,MA,214914,215888,-0.5,215888,3.9,15.9,27.8,...,0.0,28.3,533264,0,3973206,17878,890997,640,393.72,548.3
1241,25003,berkshire,MA,128715,131272,-1.9,131219,4.4,17.9,20.9,...,0.7,26.8,1425512,0,1901784,14605,401912,177,926.83,141.6
1242,25005,bristol,MA,554194,548285,1.1,548285,5.2,21.1,15.7,...,1.2,26.7,8878114,7719769,8647669,15882,885231,823,553.10,991.3
1243,25007,dukes,MA,17356,16535,5.0,16535,4.7,18.3,19.8,...,0.0,28.0,0,0,348999,22333,95785,120,103.25,160.2
1244,25009,essex,MA,769091,743175,3.5,743159,5.7,22.0,15.6,...,5.9,29.7,17488661,12405726,9822136,13399,1301497,1357,492.56,1508.8
1245,25011,franklin,MA,70862,71372,-0.7,71372,4.5,18.2,18.2,...,0.0,31.2,1164378,460103,691013,9628,80305,70,699.32,102.1
1246,25013,hampden,MA,468161,463625,1.0,463490,5.9,22.5,15.3,...,4.8,28.5,6001102,4991824,5668671,12119,661740,313,617.14,751.0
1247,25015,hampshire,MA,160939,158080,1.8,158080,3.6,15.6,14.7,...,0.0,32.7,1098826,2021848,1546067,9962,225453,193,527.26,299.8
1248,25017,middlesex,MA,1570315,1503126,4.5,1503085,5.6,20.6,14.0,...,2.8,31.1,22482647,32873334,19661130,13325,3250213,3241,817.82,1837.9
1249,25019,nantucket,MA,10856,10172,6.7,10172,6.4,20.9,13.4,...,0.0,24.3,0,39771,342825,30997,88915,149,44.97,226.2
1250,25021,norfolk,MA,692254,670743,3.2,670850,5.4,21.6,15.7,...,1.5,30.0,10340798,12398878,11241440,17133,1294000,1594,396.11,1693.6
1251,25023,plymouth,MA,507022,494915,2.4,494919,5.3,22.5,16.2,...,1.1,29.2,2577234,5253568,6615087,13463,794552,1218,659.08,750.9
1252,25025,suffolk,MA,767254,722087,6.3,722023,5.7,17.3,11.0,...,8.3,29.5,3703400,8914822,7565785,10381,3795879,3323,58.15,12415.7
1253,25027,worcester,MA,813475,798542,1.9,798552,5.6,22.0,14.1,...,2.8,28.2,10706055,6913732,10057154,12634,1150731,1268,1510.77,528.6

#### Rhode Island state:

In [77]:
print("Information in the 'primary_results' table")
primary_results[(primary_results["state"]=="rhode island")]

Information in the 'primary_results' table

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
17543,rhode island,RI,barrington,94400001.0,Democrat,bernie sanders,1398,0.481
17544,rhode island,RI,barrington,94400001.0,Democrat,hillary clinton,1490,0.512
17545,rhode island,RI,bristol,94400002.0,Democrat,bernie sanders,1302,0.521
17546,rhode island,RI,bristol,94400002.0,Democrat,hillary clinton,1165,0.466
17547,rhode island,RI,burrillville,94400003.0,Democrat,bernie sanders,849,0.640
...,...,...,...,...,...,...,...,...
17743,rhode island,RI,westerly,94400036.0,Republican,john kasich,421,0.270
17744,rhode island,RI,westerly,94400036.0,Republican,ted cruz,156,0.100
17745,rhode island,RI,woonsocket,94400039.0,Republican,donald trump,1017,0.749
17746,rhode island,RI,woonsocket,94400039.0,Republican,john kasich,176,0.130
17747,rhode island,RI,woonsocket,94400039.0,Republican,ted cruz,143,0.105

In [78]:
print("Information in the 'county_facts' table")
county_facts[county_facts["state_abbreviation"] == "RI"]

Information in the 'county_facts' table

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
2351,44000,rhode island,RI,1055173,1052931,0.2,1052567,5.2,20.2,15.7,...,6.0,27.3,12061517,9182788,12286485,11646,2148674,952,1033.81,1018.1
2352,44001,bristol,RI,49060,49875,-1.6,49875,4.0,19.6,18.8,...,1.6,33.9,496520,227408,295711,5917,68287,30,24.16,2064.0
2353,44003,kent,RI,165128,166158,-0.6,166158,4.9,19.4,17.4,...,1.7,24.6,3039063,1381329,3242897,19228,398643,144,168.53,985.9
2354,44005,newport,RI,82358,83141,-0.9,82888,4.4,18.5,19.3,...,2.2,24.3,346092,263963,1096241,13483,343003,185,102.39,809.6
2355,44007,providence,RI,631974,626663,0.8,626667,5.8,21.1,14.2,...,9.7,28.1,6422854,5856937,5924945,9430,1065946,342,409.50,1530.3
2356,44009,washington,RI,126653,127094,-0.3,126979,3.8,18.0,17.9,...,1.0,26.0,1756988,1453151,1726691,13619,272795,251,329.24,385.7

#### Vermont state:

In [79]:
print("Information in the 'primary_results' table")
primary_results[(primary_results["state"]=="vermont")]

Information in the 'primary_results' table

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
21034,vermont,VT,addison,95000001.0,Democrat,bernie sanders,251,0.863
21035,vermont,VT,addison,95000001.0,Democrat,hillary clinton,40,0.137
21036,vermont,VT,albany,95000002.0,Democrat,bernie sanders,139,0.891
21037,vermont,VT,albany,95000002.0,Democrat,hillary clinton,16,0.103
21038,vermont,VT,alburgh,95000003.0,Democrat,bernie sanders,315,0.905
...,...,...,...,...,...,...,...,...
22751,vermont,VT,worcester,95000246.0,Republican,ben carson,1,0.014
22752,vermont,VT,worcester,95000246.0,Republican,donald trump,16,0.222
22753,vermont,VT,worcester,95000246.0,Republican,john kasich,27,0.375
22754,vermont,VT,worcester,95000246.0,Republican,marco rubio,15,0.208
22755,vermont,VT,worcester,95000246.0,Republican,ted cruz,5,0.069

In [80]:
print("Information in the 'county_facts' table")
county_facts[county_facts["state_abbreviation"] == "VT"]

Information in the 'county_facts' table

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
2852,50000,vermont,VT,626562,625745,0.1,625741,4.9,19.4,16.9,...,0.6,26.0,10751461,5121694,9310119,15005,1367630,1546,9216.66,67.9
2853,50001,addison,VT,37009,36824,0.5,36821,4.3,18.2,16.9,...,0.0,22.1,538957,101400,464847,12657,48164,101,766.33,48.0
2854,50003,bennington,VT,36445,37125,-1.8,37125,4.7,19.5,21.2,...,0.6,24.8,571644,0,833024,22861,106659,35,674.98,55.0
2855,50005,caledonia,VT,30981,31226,-0.8,31227,4.8,20.4,17.8,...,0.0,28.0,339060,66247,412719,13565,29922,49,648.86,48.1
2856,50007,chittenden,VT,160531,156540,2.5,156545,4.9,18.7,13.2,...,1.0,28.2,4823542,2392465,2740931,18188,360756,533,536.58,291.7
2857,50009,essex,VT,6125,6306,-2.9,6306,4.3,17.6,23.3,...,0.0,23.8,62793,0,15031,2325,3090,9,663.60,9.5
2858,50011,franklin,VT,48642,47752,1.9,47746,6.0,23.1,13.9,...,0.0,23.6,0,413283,545346,11383,39606,152,633.71,75.3
2859,50013,grand isle,VT,6994,6970,0.3,6970,4.6,18.9,17.9,...,0.0,0.0,0,9066,39465,5229,6528,21,81.81,85.2
2860,50015,lamoille,VT,25082,24475,2.5,24475,5.2,21.2,15.2,...,0.0,31.4,0,0,313467,12412,174189,66,458.80,53.3
2861,50017,orange,VT,28859,28936,-0.3,28936,4.8,19.7,17.6,...,0.0,24.7,161917,0,237240,8181,26208,39,687.03,42.1
2862,50019,orleans,VT,27082,27231,-0.5,27231,4.9,20.1,20.3,...,0.0,18.2,0,73373,324145,11858,36307,200,693.27,39.3
2863,50021,rutland,VT,60086,61646,-2.5,61642,4.6,18.4,19.4,...,0.5,23.9,640754,267644,1084887,17136,124431,50,929.82,66.3
2864,50023,washington,VT,58998,59535,-0.9,59534,4.9,19.4,17.0,...,1.0,23.0,1011871,0,946580,16125,118956,127,687.23,86.6
2865,50025,windham,VT,43714,44513,-1.8,44513,4.6,18.9,19.3,...,0.9,30.2,375077,867141,660735,15120,138405,91,785.31,56.7
2866,50027,windsor,VT,56014,56666,-1.2,56670,4.6,18.8,20.7,...,0.3,24.5,406465,327739,691702,12147,154409,73,969.34,58.5

Having investigated these states, we've determined that the primary results are not organized by counties but rather by cities within these counties. Our next step is to aggregate the data for all cities within each state to the county level.

You can download the geocode data for various geographical objects in the USA by accessing the following link: https://www2.census.gov/programs-surveys/popest/geographies/2020/all-geocodes-v2020.xlsx. I've saved this data to a file named "geocodes.csv" for reference.

In [81]:
geocodes = pd.read_csv("data/geocodes.csv", skiprows=4, sep=";")
geocodes.head()

,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area description)
0,10,0,0,0,0,0,United States
1,40,1,0,0,0,0,Alabama
2,50,1,1,0,0,0,Autauga County
3,50,1,3,0,0,0,Baldwin County
4,50,1,5,0,0,0,Barbour County

Modify this table to fit our needs

In [82]:
# create "fips" column by using county and state levels fips
geocodes["fips"] = (geocodes["County Code (FIPS)"] 
                    + geocodes["State Code (FIPS)"]*1000)

# drop some columns
geocodes = geocodes.iloc[:, [0, 6, 7]]

# rename and modify area name column
geocodes.rename(columns=
                {"Area Name (including legal/statistical area description)":
                "area_name"}, inplace=True)
geocodes["area_name"] = (geocodes["area_name"]
                         .str.lower()
                         .replace(
                             {" county": "",
                              " town": "",
                              " city": ""}, regex=True)
                         .str.rstrip())
geocodes.head()

   Summary Level      area_name  fips
0             10  united states     0
1             40        alabama  1000
2             50        autauga  1001
3             50        baldwin  1003
4             50        barbour  1005

For all cities within a county, the "fips" value remains the same as the "fips" of their corresponding county. The distinction lies in the Summary level. We'll utilize this information to consolidate the results by cities into results by counties.

Below is a function that takes the FIPS code and the name of the state as input, and aggregates its results to the county level:

In [83]:
def county_results(state_fips: int, 
                   state_name: str, 
                   *parties:str) -> pd.DataFrame:
    """
    Function which takes the name of the state
    (for which the results are by cities), its FIPS code
    and names of parties and aggregates the results to the county level.
    All the cities in one county have the FIPS code of its county. 
    For each county we aggregate cities results to the county 
    level and add FIPS values by using the geocodes DataFrame.
    Parameters: 
        - state_fips(int): FIPS code of the state
        - state_name(str): name of the state
        - parties(List[str]): names of parties(if no parties 
        are specified, we perform the aggregation on both parties)
    Return:
        - state_results(DataFrame): new table with the election results
        on the county level
    """
    if not parties:
        parties = ["Democrat", "Republican"]
    # geocodes of the state cities and counties
    state_geocodes_mask = ((geocodes["fips"]>state_fips) 
                           & (geocodes["fips"]<state_fips + 1000))
    state_geo = geocodes[state_geocodes_mask]
    
    # counties geocode
    state_county_geo = state_geo[state_geo["Summary Level"] == 50]
    
    # cities geocode
    state_town_geo = state_geo[~(state_geo["Summary Level"] == 50)]
    
    # primary results in the state
    cities_primaries = ((primary_results["state"]==state_name)
                        & (primary_results["party"].isin(parties)))
    state_results = primary_results[cities_primaries].copy()
    
    # state abbreviation
    state_abbr = state_results["state_abbreviation"].iloc[0]

    # merge to get fips for cities
    state_results = pd.merge(state_results, state_town_geo, 
                             left_on="county", right_on="area_name",
                             how="left")
    
    # clean the merged table
    state_results.drop(columns=["fips_x", "area_name", "Summary Level"],
                      inplace=True)
    state_results.rename(columns={"fips_y": "fips"}, inplace=True)

    # group by fips, candidate and party to get results by counties
    state_results = (state_results
                     .groupby(["fips", "candidate", "party"])
                     ["votes"].sum().reset_index())
    
    # add fraction_votes columns
    fraction_votes = (state_results
                      .groupby(["party", "fips"])
                      .apply(calc_fraction_votes))
    fraction_votes = fraction_votes.reset_index(level=(0,1), drop=True)
    state_results["fraction_votes"] = fraction_votes
    
    # add state and state_abbreviation
    state_results["state"] = state_name
    state_results["state_abbreviation"] = state_abbr
    
    # merge to get fips for counties
    state_results = pd.merge(state_results, 
                             state_county_geo, 
                             on="fips", 
                             how="left").drop(columns="Summary Level")
    # modify the merged table
    state_results = state_results.rename(columns={"area_name":"county"})
    return state_results

Apply this function for our states:

In [84]:
mass_county_prim = county_results(25000, "massachusetts")
conn_county_prim = county_results(9000, "connecticut")
maine_county_prim = county_results(23000, "maine", "Democrat")
rhode_county_prim = county_results(44000, "rhode island")
vermont_county_prim = county_results(50000, "vermont")

Add the data to the "primary_results" table

In [85]:
state_with_cities_prim = (primary_results["state"]
                          .isin(["vermont", 
                                 "rhode island",
                                 "massachusetts", 
                                 "connecticut"]))
primary_results = (primary_results.loc[~state_with_cities_prim, :])

maine_democrat_prim = ((primary_results["state"] == "maine") 
                       & (primary_results["candidate"]=="Democrat"))

primary_results = (primary_results.loc[~maine_democrat_prim, :])
primary_results = pd.concat([primary_results, 
                             mass_county_prim, 
                             conn_county_prim,
                             maine_county_prim, 
                             rhode_county_prim, 
                             vermont_county_prim])

We have Wyoming state, whose "fips" values are outliers

In [86]:
wyoming_prim = (primary_results["state"]=="wyoming")
wyoming_outliers = primary_results[wyoming_prim]
wyoming_outliers["party"].unique()

array(['Democrat', 'Republican'], dtype=object)

In [87]:
wyoming_outliers[wyoming_outliers["party"] == "Democrat"]["county"].unique()

array(['albany', 'big horn', 'campbell', 'carbon', 'converse', 'crook',
       'fremont', 'goshen', 'hot springs', 'johnson', 'laramie',
       'lincoln', 'natrona', 'niobrara', 'park', 'platte', 'sheridan',
       'sublette', 'sweetwater', 'teton', 'uinta', 'washakie', 'weston'],
      dtype=object)

In [88]:
wyoming_outliers[wyoming_outliers["party"] == "Republican"]["county"].unique()

array(['albany-natrona', 'campbell-johnson', 'converse-niobrara',
       'crook-weston', 'fremont-park', 'goshen-platte',
       'hot springs-washakie', 'laramie', 'sheridan-big horn',
       'sweetwater-carbon', 'teton-sublette', 'uinta-lincoln'],
      dtype=object)

Republicans have results that are organized by pairs of counties, whereas Democrats do not have any irregularities or outliers in their results

Let's combine the primary election results for the Republican Party at the state level, excluding results reported by pairs of counties.

In [89]:
wyoming_prim_rep = aggregate_state("wyoming", "Republican")
rep_wyoming = ((primary_results["state"] == "wyoming")
               &(primary_results["party"] == "Republican"))
primary_results = primary_results[~rep_wyoming]

primary_results = pd.concat([primary_results, wyoming_prim_rep])

Reset the index of our table

In [90]:
primary_results = primary_results.reset_index(drop=True)

Turn "fips" column into integer type

In [91]:
primary_results.loc[:, "fips"] = primary_results["fips"].astype("int")

Analyze the "votes" column

In [92]:
primary_results["votes"].describe()

count     19805.000000
mean       2875.693259
std       11915.555581
min           0.000000
25%          94.000000
50%         465.000000
75%        1770.000000
max      616171.000000
Name: votes, dtype: float64

In [93]:
primary_results.sort_values(by="votes").tail(10)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
8237,michigan,MI,wayne,26163,Democrat,hillary clinton,163886,0.600000
19561,massachusetts,MA,middlesex,25017,Democrat,hillary clinton,169552,0.520764
10995,new york,NY,brooklyn,36047,Democrat,hillary clinton,174236,0.600000
11043,new york,NY,manhattan,36061,Democrat,hillary clinton,177496,0.663000
1239,california,CA,los angeles,6037,Republican,donald trump,179130,0.698000
13246,pennsylvania,PA,philadelphia,42101,Democrat,hillary clinton,212785,0.626000
1105,california,CA,los angeles,6037,Democrat,bernie sanders,434656,0.420000
19488,illinois,IL,cook,17031,Democrat,bernie sanders,523653,0.459416
1106,california,CA,los angeles,6037,Democrat,hillary clinton,590502,0.570000
19489,illinois,IL,cook,17031,Democrat,hillary clinton,616171,0.540584

In [94]:
primary_results.sort_values(by="votes").head(10)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
732,arkansas,AR,carroll,5015,Republican,marco rubio,0,0.0
7684,maine,ME,rangeley plt.,92300373,Democrat,bernie sanders,0,0.0
7683,maine,ME,rangeley,92300372,Democrat,hillary clinton,0,0.0
7682,maine,ME,rangeley,92300372,Democrat,bernie sanders,0,0.0
19152,minnesota,MN,otter tail,27111,Democrat,martin o'malley,0,0.0
19151,minnesota,MN,otter tail,27111,Democrat,"rocque ""rocky"" de la fuente",0,0.0
18641,minnesota,MN,blue earth,27013,Democrat,"rocque ""rocky"" de la fuente",0,0.0
7666,maine,ME,portage lake,92300364,Democrat,bernie sanders,0,0.0
7661,maine,ME,pleasant ridge plt.,92300361,Democrat,hillary clinton,0,0.0
7660,maine,ME,pleasant ridge plt.,92300361,Democrat,bernie sanders,0,0.0

No outliers requiring removal have been identified.

"fraction_votes" column:

In [95]:
primary_results["fraction_votes"].describe()

count    19805.000000
mean         0.304227
std          0.230243
min          0.000000
25%          0.087000
50%          0.285000
75%          0.478000
max          1.000000
Name: fraction_votes, dtype: float64

Check whether in some counties, the sum of "fraction_votes" is 0

In [96]:
total_fraction_v = (primary_results
                    .groupby(["state", "county", "party"])
                    ["fraction_votes"].sum().unstack())
democrat_zero_votes = total_fraction_v[total_fraction_v["Democrat"] == 0]
republican_zero_votes = total_fraction_v[total_fraction_v["Republican"] == 0]
pd.concat([democrat_zero_votes, republican_zero_votes])

party                             Democrat  Republican
state    county
arkansas carroll                     0.000         0.0
maine    andover                     0.000         NaN
         aroostook cty townships     0.000         NaN
         aurora                      0.000         NaN
         bancroft                    0.000         NaN
...                                    ...         ...
utah     beaver                      0.000         1.0
         piute                       0.000         1.0
         rich                        0.000         1.0
arkansas carroll                     0.000         0.0
texas    zavala                      0.936         0.0

[87 rows x 2 columns]

Drop counties with 0 number of voters:

In [97]:
# index of the counties which have 0 voter turnout for democrats
zero_vote_counties = (primary_results[["state", "county"]]
                      .apply(tuple, axis=1)
                      .isin(democrat_zero_votes.index))
dem_index_drop = (primary_results[
    zero_vote_counties & (primary_results["party"] == "Democrat")].index)

# index of the counties which have 0 voter turnout for republicans
rep_index_drop = (primary_results[
    (zero_vote_counties)& (primary_results["party"] == "Republican")]).index

# drop the rows with these indeces
primary_results = primary_results.drop(dem_index_drop)
primary_results = primary_results.drop(rep_index_drop)

In [98]:
primary_results["candidate"] = primary_results["candidate"].str.title()
primary_results["state"] = primary_results["state"].str.title()
primary_results

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,autauga,1001,Democrat,Bernie Sanders,544,0.182000
1,Alabama,AL,autauga,1001,Democrat,Hillary Clinton,2387,0.800000
2,Alabama,AL,baldwin,1003,Democrat,Bernie Sanders,2694,0.329000
3,Alabama,AL,baldwin,1003,Democrat,Hillary Clinton,5290,0.647000
4,Alabama,AL,barbour,1005,Democrat,Bernie Sanders,222,0.078000
...,...,...,...,...,...,...,...,...
19800,Vermont,VT,windsor,50027,Republican,Ted Cruz,519,0.094467
19801,Wyoming,WY,wyoming,56000,Republican,Donald Trump,70,0.077519
19802,Wyoming,WY,wyoming,56000,Republican,John Kasich,0,0.000000
19803,Wyoming,WY,wyoming,56000,Republican,Marco Rubio,189,0.209302
19804,Wyoming,WY,wyoming,56000,Republican,Ted Cruz,644,0.713178

In [99]:
county_facts

,fips,area_name,state_abbreviation,PST045214,PST040210,PST120214,POP010210,AGE135214,AGE295214,AGE775214,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030214,LND110210,POP060210
0,0,united states,USA,318857056,308758105,3.3,308745538,6.2,23.1,14.5,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,1046363,3531905.43,87.4
1,1000,alabama,AL,4849377,4780127,1.4,4779736,6.1,22.8,15.3,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13369,50645.33,94.4
2,1001,autauga,AL,55395,54571,1.5,54571,6.0,25.2,13.8,...,0.7,31.7,0,0,598175,12003,88157,131,594.44,91.8
3,1003,baldwin,AL,200111,182265,9.8,182265,5.6,22.2,18.7,...,1.3,27.3,1410273,0,2966489,17166,436955,1384,1589.78,114.6
4,1005,barbour,AL,26887,27457,-2.1,27457,5.7,21.2,16.5,...,0.0,27.0,0,0,188337,6334,0,8,884.88,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,sweetwater,WY,45010,43806,2.7,43806,7.3,27.0,9.5,...,3.8,27.2,0,437493,898189,22843,150439,227,10426.65,4.2
3191,56039,teton,WY,22930,21294,7.7,21294,5.7,19.1,12.2,...,3.3,25.3,0,0,515644,25688,327363,145,3995.38,5.3
3192,56041,uinta,WY,20904,21118,-1.0,21118,7.6,29.8,11.0,...,2.2,15.9,0,159375,413983,20626,35497,40,2081.26,10.1
3193,56043,washakie,WY,8322,8533,-2.5,8533,5.5,23.9,20.1,...,0.0,26.9,0,12128,98308,12596,10175,4,2238.55,3.8
3194,56045,weston,WY,7201,7208,-0.1,7208,6.5,21.6,18.1,...,0.0,29.3,0,11540,64312,9395,7520,1,2398.09,3.0

# Conclusion from the first part of the analysis:
   * We examined the "county_facts" table, addressing null values in object columns by replacing them with meaningful names. We then checked for duplicates and outliers in the table.

   * In the "primary_results" table, we also identified and removed duplicates. Additionally, we noticed missing data for some states and filled those gaps using information gathered from online sources, ensuring comprehensive voting results for all states. Specifically, we aggregated results from Alaska, Kansas, North Dakota, and Wyoming to the state level, as their initial data was by congressional districts or pairs of counties. We also supplemented missing Republican party data for Maine, North Dakota, and Colorado, obtaining and incorporating state-level data for Maine and Colorado. In instances where data was missing for both parties in Minnesota and the District of Columbia, we similarly sourced and added relevant information.
   
   
Now, let's load the modified tables and move on to the main part of our data analysis

In [100]:
county_dictionary.to_csv("modified_data/county_dictionary.csv", index=False)
county_facts.to_csv("modified_data/county_facts.csv", index=False)
primary_results.to_csv("modified_data/primary_results.csv", index=False)